#phone{
    position:absolute;
    left:0%;
    top:0%;
    width:412px;
    height:786px;
    border:1px solid black;
}
#test1{
    width:20px;
    height:20px;
    background-color:red;
    position:absolute;
    left:80%;
    top:90%;
}
#test2{
    width:20px;
    height:20px;
    background-color:blue;
    position:absolute;
    left:90%;
    top:95%;
}
#test3{
    width:20px;
    height:20px;
    background-color:orange;
    position:absolute;
    left:95%;
    top:97.5%;
}
#test4{
    width:20px;
    height:20px;
    background-color:purple;
    position:absolute;
    left:0%;
    top:0%;
}
#test5{
    width:20px;
    height:20px;
    background-color:pink;
    position:absolute;
    left:95%;
    top:0%;
}
#test6{
    width:20px;
    height:20px;
    background-color:skyblue;
    position:absolute;
    left:100%;
    top:100%;
}